delta_spark==4.3.1
Faker==40.31.0
importlib_metadata==8.7.1
iniconfig==2.3.0
numpy==2.5.1
packaging==26.2
pandas==3.0.3
pluggy==1.6.0
py4j==0.10.9.9
Pygments==2.20.0
pyspark==4.1.1
pytest==9.1.1
python-dateutil==2.9.0.post0
six==1.17.0
zipp==4.1.0
